docs/next-steps/distribution-flow/[automedia] wf0_ controle da fila de produção.json
{
  "name": "[automedia] wf0: controle da fila de produção",
  "nodes": [
    {
      "parameters": {
        "content": "## Busca vídeos de 2 em 2 minutos\nDe 2 em 2 minutos, vai ativar a busca por vídeos com status `add_to_production` na tabela `benchmark_videos`",
        "height": 340,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        592
      ],
      "id": "16e45ad8-6222-42e9-9743-0a5105f901cd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        224,
        768
      ],
      "id": "daa02a1f-2d2c-43d8-9923-c8db78b6870e",
      "name": "Roda de 2min em 2min"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "benchmark_videos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "condition": "eq",
              "keyValue": "add_to_production"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1280,
        832
      ],
      "id": "13f900ba-cea1-4528-ab6f-d0b9fc322c20",
      "name": "Busca Videos na Fila de Produção",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "I0sUz9QL2A9e4Bp4",
          "name": "supabase: automedia"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "benchmark_videos"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        400
      ],
      "id": "a3993088-0cdc-4717-8d2d-73968b5e1058",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# ☑️ TO DO \n### Lista do que precisa ser feito neste WF\n## Consertos\n \n- [x] Item\n \n## Melhorias\n \n- [ ] \n ",
        "height": 320,
        "width": 580,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "391720c5-e17e-4e24-8263-3ea8a7e87f3c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1472,
        832
      ],
      "id": "7d8d9b90-dbc2-419c-9058-f8fd1c93d624",
      "name": "Limit = 1"
    },
    {
      "parameters": {
        "errorMessage": "Já tem vídeo em processamento"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1280,
        672
      ],
      "id": "6e7d8822-92da-4d8e-8afb-b0452838842c",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "## Check de Condição\nSe tiver ALGUM vídeo com is_processing = TRUE, ele não avança. Ou seja, se tiver algum vídeo em produção, ele não vai mandar mais nada em produção",
        "height": 508,
        "width": 1060,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        560
      ],
      "id": "f788262e-efe5-4d26-8da9-60733a300fbf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Ativa o Próximo Workflow\n",
        "height": 288,
        "width": 284,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1728,
        784
      ],
      "id": "1ae815ea-cb55-4011-b41a-e5c32075f56f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "video_id que vai processar",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        1728,
        544
      ],
      "id": "e7fb9e4a-a9e8-45d1-b09e-a7deef26fb07",
      "name": "Execution Data",
      "notesInFlow": true,
      "notes": "save: video_id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "production_videos",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "is_processing",
              "condition": "eq",
              "keyValue": "true"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "canceled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        864
      ],
      "id": "5f4b7dd0-afce-410b-8fe7-7efd9d0c8afd",
      "name": "Tem algum processando?",
      "notesInFlow": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "I0sUz9QL2A9e4Bp4",
          "name": "supabase: automedia"
        }
      },
      "notes": "tb: production_videos"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "countUnique",
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        832,
        864
      ],
      "id": "143a2fa9-cd4c-4aa9-adf4-12b5ee5fe775",
      "name": "Conta quantos estão em processamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10bd1625-3e12-4c16-815a-8ec1762170f1",
              "leftValue": "={{ $json.unique_count_id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        768
      ],
      "id": "471a0cda-6162-4bdf-95bd-16864a8b1fe3",
      "name": "Videos Processando >= 1?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "9CyNViVvKiCNIpI8",
          "mode": "list",
          "cachedResultUrl": "/workflow/9CyNViVvKiCNIpI8",
          "cachedResultName": "[automedia] wf1: add_to_production → aprovação manual ou automática"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "benchmark_video_id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "video_id"
          ],
          "schema": [
            {
              "id": "benchmark_video_id",
              "displayName": "benchmark_video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1808,
        880
      ],
      "id": "b113e12b-c37b-4c99-97ed-6c890e61e323",
      "name": "WF de Match"
    },
    {
      "parameters": {
        "content": "## ⚠️ IMPORTANTE\n\nAqui só repassa o vídeo pro Fluxo de MATCH.\n\nLÁ que ele vai criar a linha em `production_videos`",
        "height": 192,
        "width": 272,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1968,
        656
      ],
      "id": "de581c50-2f73-4b8a-bd45-047fd34232a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "video_processando",
              "value": "={{ $json.title }}"
            },
            {
              "key": "video_id_video_processando",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        832,
        688
      ],
      "id": "12d86145-f27f-45bd-bb00-cc5f058e654f",
      "name": "Qual video tá processando?"
    },
    {
      "parameters": {
        "content": "## ⚠️ Correção Problema de Fila\nÉ provável que o problema de controle de fila que pode acontecer no próximo flow consiga ser resolvido levando essa lógica aqui para o PRÓXIMO flow",
        "height": 144,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1008,
        1024
      ],
      "id": "e2b5f64c-58d9-4733-b3ca-b41be5924ec1",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Roda de 2min em 2min": {
      "main": [
        [
          {
            "node": "Tem algum processando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Videos na Fila de Produção": {
      "main": [
        [
          {
            "node": "Limit = 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit = 1": {
      "main": [
        [
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "WF de Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem algum processando?": {
      "main": [
        [
          {
            "node": "Conta quantos estão em processamento",
            "type": "main",
            "index": 0
          },
          {
            "node": "Qual video tá processando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta quantos estão em processamento": {
      "main": [
        [
          {
            "node": "Videos Processando >= 1?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Videos Processando >= 1?": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Busca Videos na Fila de Produção",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "580aa50f-9dd6-49f4-8b9a-5b2c10f7d699",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33738330930e3881dd5571eca013f36ddf8aab20e4ea5c1f2ebaf4a2b4668ac6"
  },
  "id": "ro50oyAFdNcRXBpK",
  "tags": [
    {
      "createdAt": "2025-07-26T21:12:41.529Z",
      "updatedAt": "2025-07-26T21:12:41.529Z",
      "id": "rw9clsk6DPBqn9eg",
      "name": "automedia"
    }
  ]
}